body {
  margin: 0;
  font-family: 'Verdana', sans-serif;
  background-color: #a0d8ef; /* azul cielo */
  color: #4b4b4b;
}

header {
  background-color: #d3d3d3;
  color: #4b4b4b;
  text-align: center;
  padding: 20px;
  font-size: 2em;
  font-weight: bold;
  border-bottom: 5px solid #c080c0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}




.card h2 {
  color: #c080c0;
  margin: 10px 0;
}



}
